div{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-image: url("French-bulldog.jpg");

}
image{
    border: 20px groove black;

}

.dogone{
    border: 20px dotted black;
}

.dogtwo{
    border: 20px double black;

}

.dogthree{
    border: 20px solid black;
}